*{
	margin: 0;
	padding: 0;
}
@font-face{
    font-family:font;
    src: url("../font/OpenSans-Regular.ttf");
}
@font-face{
    font-family:fontBold;
    src: url("../font/OpenSans-Bold.ttf");
}
@font-face{
    font-family:f;
    src: url("../font/OpenSans-Semibold.ttf");
}
body{
    font-family: font;
    background: rgba(0,0,0,.1);
}
header{
    background: #0680ad;
}
#img-menu{
    width: 3%;
    padding: .4em 0 .1em 0 ;
    margin-left: 1%;
}
#menu a,#menus2 a,#menus3 a,#menus4 a,#menus5 a,#menus6 a,#menus7 a,#menus8 a,#menus9 a{
    color: white;
}
#menu,#menus2,#menus3,#menus4,#menus5,#menus6,#menus7,#menus8,#menus9{
    width: 10%;
    margin-left: -10%;
    overflow: hidden;
    transition: all .6s ease;
    color: white;
    background: #002a3c;
    height: 100%;
    position: fixed;
}
/*#menu{
    width: 10%;
}*/
#perfil{
    padding: 1em 0 1em 0;
    background: #2c2c2c;
    text-align: center;
}
#img-perfil{
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}
#inf-perfil{
    font-family: fontBold;
    padding: 0 1%;
    vertical-align: middle;
    display: inline-block;
}
#menus{
    margin-left: 6%;
    margin-top: 2em;
    font-size: .8em;
}
#img-menus{
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}
.menus{
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin-top: 1.5em;
    font-family: f;
    cursor: pointer;
}
.menus2{
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin-top: 1.5em;
    font-size: .9em;
    margin-left: 8%;
    font-family: font;
    cursor: pointer;
}
#contenedor{
    margin-left: 10%;
    width: 90%;
}


