@font-face{
    font-family:font;
    src: url("../font/OpenSans-Regular.ttf");
}
@font-face{
    font-family:font2;
    src: url("../font/OpenSans-Bold.ttf");
}
*{
	margin: 0;
	padding: 0;
}
body{
    font-family: font;
    background: url("../img/fondo.png");
}
footer{
	font-size: .7em;
    bottom: 0;
    padding: .5em 1%;
    position: fixed;
    width: 98%;
    background: #ffffff;
    color: #9d9d9d;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

select{
    text-align-last:center;
}
/* Formularios */

	/* fomulario centrado */
#form1{
    color: #454444;
    width: 30%;
    display: inline-block;
    background: white;
    vertical-align: top;
    padding: 0 0  3em 0;
}
#demas{
    text-align: left;
    width: 69.6%;
    background: white;
    display: inline-block;
    vertical-align: top;
}
#demas a{
    font-size: 1.1em;
    color: grey;
}
#demas2{
    margin-left: 5%;
}
#formLogeo2{
    color: #454444;
    width: 60%;
    border-radius: .5em;
    margin: 4em auto;
    background: #ffffff;
    padding: 3em 0  0 0;
    box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.42);
}
#formLogeo{
    color: #454444;
    width: 30%;
    border-radius: .5em;
    margin: 4em auto;
    background: #ffffff;
    padding: 3em 0  0 0;
    box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.42);
}
#img-arka{
    width: 3%;
    display: inline-block;
}
#logo-form1{
	width: 45%;
	margin: 1em auto 0 auto;
}
#logo-formLogeo{
    width: 90%;
    margin:  0 auto;
}
#titulo-form1{
    padding: .7em 5%;
    font-size: 1.3em;
    color: white;
    margin-bottom: 1em;
    background: #8b0066;
    font-family: font2;
}
.btn-iLogeo{
    font-family: font2;
    background: #b90968;
    margin: 2em 0 0 0;
    width: 100%;
    padding: .4em 0;
    font-size: 1.4em;
    border: none;
    color: white;
    border-radius: 0 0 0.2em .2em;
}
.ipt-iLogeo{
    background: none;
    padding: .3em 0;
    background: url("../img/usuario3.png") no-repeat;
    background-size: 9%;
    width: 80%;
    font-size: 1.2em;
    text-align: center;
    border:none;
    font-family: font;
    margin: .6em 10% 0 10%;
    border: none;
    border-bottom: 1px solid rgba(208, 208, 208, 0.75);
    transition: all .3s ease;
}
.ipt-iLogeo2{
    background: none;
    padding: .6em 0;
    background: url("../img/usuario3.png") no-repeat;
    background-size: 9%;
    width: 80%;
    font-size: 1.6em;
    text-align: center;
    border:none;
    font-family: font;
    margin: .6em 10% 0 10%;
    border: none;
    border-bottom: 1px solid rgba(208, 208, 208, 0.75);
    transition: all .3s ease;
}
.ipt-iLogeo:focus{
	outline: 0px;
     border-bottom: 2px solid rgba(33, 158, 188, 0.75);
    box-shadow: 2px 3px 4px grey;
    width: 81%;
	transition: all .3s ease;
}
#u{
    background: url("../img/usuario3.png") no-repeat;
    background-size: 8%;
}
#c{
    background: url("../img/candado.png") no-repeat;
    background-size: 8%;
}
#t{
     background: url("../img/tienda2.png") no-repeat;
    background-size: 8%;
}
.ipt-if{
    background: none;
    padding: .4em 0;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    border:none;
    font-family: font;
    margin: .4em 10% 0 10%;
    border: none;
    box-shadow: 2px 3px 10px rgba(128, 128, 128, 0.41);
    border-radius: .3em;
    transition: all .3s ease;
}
.ipt-if:focus{
    outline: 0px;
    background: rgba(0,0,0,.1);
    transition: all .3s ease;
}
.btn-if{
     font-family: font;
    background: #0bad11;
     margin: 1em 30% 0 30%;
    width: 40%;
     padding: .4em 0;
    font-size: 1.2em;
    border: none;
    color: white;
    border-radius: .2em;
}
.ipt-i1{
    background: none;
    padding: .4em 0;
    width: 90%;
    font-size: 1em;
    text-align: center;
    border:none;
    font-family: font;
    margin: .4em 5% 0 5%;
    border: none;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.41);
    border-radius: .2em;
    transition: all .3s ease;
}
.ipt-i1:focus{
	outline: 0px;
	background: rgba(0,0,0,.1);
	transition: all .3s ease;
}
.btn-i1{
     font-family: font;
    background: #0bad11;
     margin: 1em 30% 0 30%;
     text-align: center;
    width: 40%;
     padding: .4em 0;
    font-size: 1em;
    border: none;
    color: white;
    border-radius: .2em;
}
.btn-i4{
     font-family: font;
    background: #0bad11;
     margin: 1em 0 0 0;
    width: 100%;
     padding: .4em 0;
    font-size: 1em;
    border: none;
    color: white;
    border-radius: .1em;
}
#form-peque{
    text-align: center;
    padding: .2em 0;
    font-size: .9em;
    color: #adaaaa;
}
/* formulario de una sola linea */

#form2{
    color: #454444;
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    padding: 0 0  1em 0;
}  
.ipt-i2{
    background: none;
    padding: .4em 0;
    width: 20%;
    font-size: 1em;
    text-align: center;
    border:none;
    display: inline-block;
    font-family: font;
    margin: .4em .4% 0 3%;
    border: none;
    box-shadow: 2px 3px 10px rgba(128, 128, 128, 0.41);
    border-radius: .3em;
    transition: all .3s ease;
}
.ipt-i2:focus{
	outline: 0px;
	background: rgba(0,0,0,.1);
	transition: all .3s ease;
}
.btn-i2{
     font-family: font;
    background: #0bad11;
     margin: 1em 1% 0 0;
    width: 20%;
     padding: .4em 0;
    font-size: 1.1em;
    border: none;
    color: white;
    border-radius: .2em;
}
.ipt-i3{
    background: none;
    padding: .6em 0;
    width: 40%;
    font-size: 1em;
    text-align: center;
    border:none;
    display: inline-block;
    font-family: font;
    margin: .4em .4% 0 0%;
    border: none;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.41);
    border-radius: .3em;
    transition: all .3s ease;
}
.ipt-i3:focus{
    outline: 0px;
    background: rgba(0,0,0,.1);
    transition: all .3s ease;
}
.btn-i3{
     font-family: font2;
    background: #0bad11;
     margin: 1em 0% 0 0;
    width: 20%;
    text-align: center;
     padding: .4em 0;
    font-size: 1.1em;
    border: none;
    color: white;
    border-radius: .2em;
}
.ipt-alm{
            width: 100%;
            padding: .1em 0;
            box-shadow: 2px 3px 10px grey;
            font-size: 1.2em;
            text-align: center;
            color: grey;
            display: inline-block;
            border: none;
            border-radius: .2em;
        }
.ipt-alm2{
            width: 90%;
            padding: .1em 0;
            box-shadow: 2px 3px 10px grey;
            font-size: 1.2em;
            text-align: center;
            color: grey;
            display: inline-block;
            border: none;
            border-radius: .2em;
        }
#img-arka{
    width: 3%; 
    display: inline-block;
}
/*tabla w100 */
#tablaw100{
	width: 100%;
	background: white;
}
#tablaw90{
    width: 50%;
    margin: 1em auto;
    padding: .5em 2%;
    background: white;
    border-radius: 1em;
}
#indicew100{
	background: rgba(0,0,0,.04);
	font-family: font2;
    color: grey;
	border-bottom: 1px solid rgba(0,0,0,.2);
}
#indicew90{
   font-size: 2em;
   border-bottom: 1px solid rgba(230, 52, 74, 0.49);
}
#msj{
    margin-left: 3%;
    padding: 1em 0;
}
.visto{
    background: rgba(209, 29, 29, 0.99);
    text-align: center;
    width: 15%;
    font-family: font2;
    margin-top: 1em;
    padding: .5em 0;
}
.visto a{
    color: white;
}
#fecha{
    display: inline-block;
    margin-left: 2%;
    font-size: .4em;
        }
.indiceNumeros,.filaNumeros{
	padding: .3em 1%;
	display: inline-block;
	width: 3%;
    font-size: .9em;
}
.indiceTelefonos,.filaTelefonos{
    padding: .3em 1%;
    display: inline-block;
    width: 20%;
    font-size: .9em;
}
.indiceBoton,.filaBoton{
    padding: .3em 1%;
    display: inline-block;
    width: 17%;
    font-size: .9em;
}
.indiceNombre,.filaNombre{
	padding: .3em 1%;
	display: inline-block;
	width: 22%;
    font-size: .9em;
}
.indiceClave,.filaClave{
	padding: .3em 1%;
	display: inline-block;
    font-size: .9em;
	width: 7%;
}
.indiceTelefono,.filaTelefono{
	padding: .3em 1%;
	display: inline-block;
    font-size: .9em;
	width: 7%;
}
.indiceLargo,.filaLargo{
			padding: .3em 1%;
            font-size: .9em;
			display: inline-block;
			width: 42%;
		}
.indiceMedioLargo,.filaMedioLargo{
			padding: .3em 1%;
            font-size: .9em;
			display: inline-block;
			width: 28%;
 }
 .indice a{
    color: red;
 }
.filaB{
	border-bottom: 1px solid rgba(0,0,0,.2);
    transition: all .3s ease;
}
.filaBG{
    border-bottom: 1px solid rgba(0,0,0,.2);
    transition: all .3s ease;
    background: lightgrey;
}
.filaBR{
    border-bottom: 1px solid rgba(0,0,0,.2);
    transition: all .3s ease;
    background: red;
}
.filaB:hover{
   background: #871BC2;
   transition: all .3s ease;
   color: white;
   cursor: pointer;
}
.capsula{
    background: rgba(0,0,0,.1);
    margin-bottom: 1em;

}
/* Menu */

#icono-img{
    display: inline-block;
    width: 25%;
    
    vertical-align: middle
}
#icono-img img{
    height: 30px;
    display: inline-block;
}

.menu_bar {
	display:none;
}
header {
	width: 100%;
}
header nav {
	background:   #0a9dde;
	z-index:1000;
}
header nav ul {
	list-style:none;
}
 
header nav ul li {
	display:inline-block;
	position: relative;
}
 
header nav ul li:hover {
	background:#E6344A;
}
 
header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 10px;
}
 
header nav ul li a span {
	margin-right:0px;
}
 
header nav ul li:hover .children {
	display:block;
}
 
header nav ul li .children {
	display: none;
	background:#011826;
	position: absolute;
	width: 150%;
	z-index:1000;
}
header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
 
header nav ul li .children li a {
	display: block;
}
 
header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}
header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}

 /* nombre linea completa */

 #w100{
 	background: #ffffff;
 	text-align: center;
 	color: #747474;
 	padding: .3em 0;
 	font-family: font2;
 }
 /* nombre linea completa grande */  
 #w100lb{
 	background: #ffffff;
 	color: #747474;
 	padding: .3em 3%;
 	font-size: 1.2em;
 	font-family: font2;
 }
 #w100lbt{
 	background: #ffffff;
 	color: #747474;
 	text-align: center;
 	padding: .3em 3%;
 	font-size: 1.5em;
 	font-family: font2;
 }
 /* bloque de punto de venta */
#tabla{
    background: white;
    font-size: 1.2em;
}
 .tabla-indNombre{
    font-family: font2;
    padding: .1em 0;
    font-size: 1.1em;
    display: inline-block;
    width: 43%;
    margin-left: 1%;
}
 .tabla-indNombre2{
    font-family: font2;
    padding: .1em 0;
    font-size: 1.1em;
    display: inline-block;
    width: 44%;
    margin-left: 1%;
}
.tabla-indClave{
    font-family: font2;
    padding: .1em 0;
    font-size: 1.1em;
    display: inline-block;
    width: 13%;
    margin-left: 1%;
}
.tabla-indPrecio{
    font-family: font2;
    padding: .1em 0;
    font-size: 1.1em;
    display: inline-block;
    width: 10%;
    margin-left: 1%;
}
.tabla-indCantidad{
    font-family: font2;
    padding: .1em 0;
    font-size: 1.1em;
    display: inline-block;
    width: 10%;
    margin-left: 1%;
}
.tabla-indCancelar{
    color: none;
    text-align: center;
    font-family: font2;
    padding: .1em 0;
    font-size: 1.1em;
    display: inline-block;
    width: 2%;
    border-radius: .3em;
    background: white;
    margin-left: 0%;
}
.tabla-indCancelar a{
	color: red;
}
.tabla-indTotal{
    font-family: font2;
    padding: .1em 0;
    font-size: 1.1em;
    display: inline-block;
    width: 10%;
    margin-left: 1%;
}
.borderBottom{
	border-bottom: 1px solid lightgrey;
}
.ipt-puntoNombre{
     display: inline-block;
     width: 41%;
    font-family: font;
    background: none;
    border: none;
    margin: .1em 0 1em 0%;
    padding: .3em 1%;
    border: 1px solid lightgrey;
    border-radius: .1em;
    box-shadow: 1px 1px 2px grey;
}
.ipt-puntoClave{
     display: inline-block;
     width: 11%;
    font-family: font;
    background: none;
    margin: .1em 0 1em 1%;
    padding: .3em 1%;
    border: 1px solid lightgrey;
    border-radius: .1em;
    box-shadow: 1px 1px 2px grey;
}
.ipt-puntoPrecio{
     display: inline-block;
     width: 8%;
    font-family: font;
    background: none;
    margin: .1em 0 1em 1%;
    padding: .3em 1%;
    border: 1px solid lightgrey;
    border-radius: .1em;
    box-shadow: 1px 1px 2px grey;
}
.ipt-puntoCantidad{
     display: inline-block;
     width: 6%;
    font-family: font;
    background: none;
    margin: .1em 0 1em .8%;
    padding: .3em 1%;
    border: 1px solid lightgrey;
    border-radius: .1em;
    box-shadow: 1px 1px 2px grey;
}
.ipt-puntoTotal{
     display: inline-block;
     width: 7%;
    font-family: font;
    background: none;
    margin: .1em 0 1em 1%;
    padding: .3em 1%;
    border: 1px solid lightgrey;
    border-radius: .1em;
    box-shadow: 1px 1px 2px grey;
}
.ipt-punto:focus{
    outline: 0px;
    background: rgba(0,0,0,.2);
    box-shadow: 2px 3px 5px black;
}
.btn-puntoVenta{
    border-radius: .1em;
    background: rgb(20, 142, 217);
    font-size: 1.3em;
    padding: .3em 1%;
    color: white;
    margin-left: 1%;
    box-shadow: 2px 3px 2px black;
    border: none;
}
/* formato a barra scroll*/

::-webkit-scrollbar {
      width: 9px;
}
::-webkit-scrollbar-track {
      background-color: #ffffff;
} 
::-webkit-scrollbar-thumb {
      background-color: rgb(8, 136, 183);
} 
::-webkit-scrollbar-button {
      background-color: #c9c9c9;
}
::-webkit-scrollbar-corner {
      background-color: #adadad;
}
/* reporte web */
#entradas{
    font-size: .9em;
    width: 56%;
    display: inline-block;
    vertical-align: top;
}
#salidas{
    font-size: .9em;
    width: 38%;
    display: inline-block;
    vertical-align: top;
}
.filaA{
    border-bottom: 1px solid rgba(128, 128, 128, 0.41);
    padding: .1em 0 ;
    width: 100%;
}
 #title2{
     font-weight: bold;
     color: rgba(52, 52, 52, 0.76);
    font-size: 1.4em;
     padding: .5em 0;
}

/* formato a botones*/

.btnCancelar{
    display: inline-block;
    width: 10%;
    margin-top: .1em;
    font-size: 1.5em;
    margin-left: 1%;
    text-align: center;
    padding: .2em 2%;
    border: none; 
    color:white ;
    background: #c30505;
    border-radius: .1em;
}
.btnCancelar a{
    color: white;
    text-decoration: none;
}
.btnPagos{
    display: inline-block;
    width: 7%;
    margin-top: .1em;
    font-size: 1.1em;
    margin-left: 1%;
    text-align: center;
    padding: .1em 1%;
    border: none; 
    color:white ;
    background: #c30505;
    border-radius: .1em;
}
.btnPagos a{
    color: white;
    text-decoration: none;
}
.btnCredito{
    display: inline-block;
    width: 21%;
    margin-top: .5em;
    font-size: 1.5em;
    text-align: center;
    padding: .2em 2%;
    border: none; 
    color:white ;
    background: #393939;
    border-radius: .1em;
}
.btnCredito a{
    color: white;
    text-decoration: none;
}
.tablalarga{
    height: 200px;
    overflow: scroll;
}
#montos{
    color :grey;
    margin-left: 65%;
    margin-top: -3.2em;
}
#montosA{
    color :grey;
    margin-left: 65%;
    margin-top: -5em;
}
.iptTotal{
    width: 120px;
    padding: .3em 0 .3em 1%;
    border:none;
    font-size: 1.4em;
    font-family: font2;
    color: grey;
    margin-left: 35%;
    border-radius: .1em;
    border: 1px solid #cbcbcb;
    margin-top: .2em;
}
.iptResta{
    width: 120px;
    padding: .3em 0 .3em 1%;
    border:none;
    background: #0db158;
    color: white;
    font-size: 1.5em;
    font-family: font2;
    margin-left: 29.5%;
    border-radius: .1em;
    border: 1px solid #cbcbcb;
    margin-top: .2em;
    display: inline-block;
}
.btnTotal{
    margin: .2em 0 1em 80%;
    font-size: 1.6em;
     width: 170px;
    padding: .2em 0;
    border: none; 
    color:white ;
    background: #c60d0d;
    border-radius: .1em;
}
/* estilo de mensaje */

#w100Msj{
    padding: .2em 2%;
    background: #8b8b8b;
    color: white;
    font-family: helvetica;
}
.text-msj,.btn-msj{
    display: inline-block;
}
#w100Msj a{
    color: white;
    text-decoration: none;
}
.btn-msj{
    margin-left: 1%;
    box-shadow: 2px 1px 3px rgba(0,0,0,2);
    border-radius: .3em;
    padding: .2em 2%;
    background: #d84444;
}
/* formato de apartado */
.iptCliente{
    background: white;
    padding: .4em 0;
    width: 25%;
    border-radius: .3em;
    font-size: 1em;
    text-align: center;
    border:none;
    font-family: font;
    margin: .3em 0 0 1% ;
    border: 1px solid #d8d8d8;
    transition: all .3s ease;
}
.cambio{
    box-shadow: 2px 3px 15px grey;
    border-radius: 1em;
    padding: .2em .5%;
}
#sucu{
    width: 10%;
    padding: .5em .2%;
    color: rgba(0,0,0,.4);
    font-size: 1.2em;
    margin: .5em 2%;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    transition: all .3s ease;
     border-bottom: 20px solid white;
}
#sucu:hover{
    border-bottom: 20px solid rgba(0,0,0,.2);
    transition: all .3s ease;
}
input[data-readonly] {
              pointer-events: none;
            }
/* Pago semanal */

#table{
    width: 33.3%;
    display: inline-block;
    background: white;
    vertical-align: top;
    border-top: 2px solid #e8e8e8;
    text-align: center
}
.filar{
    font-size: 1.3em;
    color: grey;
    font-weight: bold;
}
.indice{
    color: #afacac;
    width: 25%;
    display: inline-block;
    font-size: 1em;
}
.fila{
    font-size: 1.4em;
    color: #c6630e;
}
/* modal de agregar productio*/

        #agregar{
            background: grey;
            border-radius: .5em;
            font-size: 1.1em;
            width: 17.5%;
            margin-left: 2%;
            display: inline-block;
            padding: .5em 0;
            text-align: center;
        }
        #agregar a{
            color: white;
            font-weight: normal;
    
        }
          .modalDialog2 {
          position: fixed;
          font-family:p3;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba(0,0,0,0.8);
          z-index: 99999;
          opacity:0;
          -webkit-transition: opacity 400ms ease-in;
          -moz-transition: opacity 400ms ease-in;
          transition: opacity 400ms ease-in;
          pointer-events: none;
           overflow: scroll;
        }
        .modalDialog2:target {
          opacity:1;
          pointer-events: auto;
        }
        .modalDialog2 > div {
          width: 400px;
          font-family: font2;
          position: relative;
          margin: 4% auto;
          padding: 5px 30px 13px 30px;
          border-radius: 10px;
          background: white;
          -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        }
        .close2 {
          background: #606061;
          color: #FFFFFF;
          line-height: 25px;
          position: absolute;
          right: -12px;
          text-align: center;
          top: -10px;
          width: 24px;
          text-decoration: none;
          font-weight: bold;
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          border-radius: 12px;
          -moz-box-shadow: 1px 1px 3px #000;
          -webkit-box-shadow: 1px 1px 3px #000;
          box-shadow: 1px 1px 3px #000;
        }
        .close2:hover { background: #00d9ff; }
         a{
          text-decoration: none;
          color: grey;
          font-weight: bold;
        }
    /* modal 3*/
        .modalDialog3 {
          position: fixed;
          font-family:p3;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba(0,0,0,0.8);
          z-index: 99999;
          opacity:0;
          -webkit-transition: opacity 400ms ease-in;
          -moz-transition: opacity 400ms ease-in;
          transition: opacity 400ms ease-in;
          pointer-events: none;
           overflow: scroll;
        }
        .modalDialog3:target {
          opacity:1;
          pointer-events: auto;
        }
        .modalDialog3 > div {
          width: 400px;
          font-family: font2;
          position: relative;
          margin: 4% auto;
          padding: 5px 30px 13px 30px;
          border-radius: 10px;
          background: white;
          -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        }
        .close3 {
          background: #606061;
          color: #FFFFFF;
          line-height: 25px;
          position: absolute;
          right: -12px;
          text-align: center;
          top: -10px;
          width: 24px;
          text-decoration: none;
          font-weight: bold;
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          border-radius: 12px;
          -moz-box-shadow: 1px 1px 3px #000;
          -webkit-box-shadow: 1px 1px 3px #000;
          box-shadow: 1px 1px 3px #000;
        }
        .close3:hover { background: #00d9ff; }
         a{
          text-decoration: none;
          color: grey;
          font-weight: bold;
        }
#tituloModal{
    text-align: center;
    font-size: 1.5em;
    margin-top: .4em;
}
.ipt-iModal{
    border: none;
    font-family: font;
    font-size: 1em;
    padding: .5em 1%;
    border-radius: .2em;
    box-shadow: 2px 4px 10px darkgrey;
    width: 90%;
    margin: .4em 4%;
}
.btn-iModal{
    border: none;
    font-family: font;
    font-size: 1em;
    color: white;
    background: grey;
    padding: .2em 1%;
    border-radius: .2em;
    box-shadow: 2px 4px 10px darkgrey;
    width: 40%;
    margin: .4em 28%;
}
/*modal 4*/
   .modalDialog4 {
          position: fixed;
          font-family:p3;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba(0,0,0,0.8);
          z-index: 99999;
          opacity:0;
          -webkit-transition: opacity 400ms ease-in;
          -moz-transition: opacity 400ms ease-in;
          transition: opacity 400ms ease-in;
          pointer-events: none;
           overflow: scroll;
        }
        .modalDialog4:target {
          opacity:1;
          pointer-events: auto;
        }
        .modalDialog4 > div {
          width: 400px;
          font-family: font2;
          position: relative;
          margin: 4% auto;
          padding: 5px 30px 13px 30px;
          border-radius: 10px;
          background: white;
          -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        }
        .close4 {
          background: #606061;
          color: #FFFFFF;
          line-height: 25px;
          position: absolute;
          right: -12px;
          text-align: center;
          top: -10px;
          width: 24px;
          text-decoration: none;
          font-weight: bold;
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          border-radius: 12px;
          -moz-box-shadow: 1px 1px 3px #000;
          -webkit-box-shadow: 1px 1px 3px #000;
          box-shadow: 1px 1px 3px #000;
        }
        .close4:hover { background: #00d9ff; }
         a{
          text-decoration: none;
          color: grey;
          font-weight: bold;
        }
@media screen and (max-width: 800px) {
	body {
		padding-top:80px;
	}
 	.menu_bar img{
 		width: 5%;
 	}
	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background:#E6344A;
	}
 	#icono-img{
 		width: 5%;
 	}
	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}
 
	.menu_bar span {
		float: right;
		font-size: 40px;
	}
 
	header nav {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}
 
	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}
 
	header nav ul li a {
		display: block;
	}
 
	header nav ul li:hover .children {
		display: none;
	}
 
	header nav ul li .children {
		width: 100%;
		position: relative;
	}
 
	header nav ul li .children li a {
		margin-left:20px;
	}
 
	header nav ul li .caret {
		float: right;
	}
}
@media screen and ( max-width: 900px ){
	#form1{
		width: 45%;
	}
}
@media screen and ( max-width: 650px ){
	#form1{
		width: 55%;
	}
	#img-arka{
		width: 5%;
	}
}
@media screen and ( max-width: 550px ){
	#form1{
		width: 70%;
		 margin: 1em auto;
	}
	#img-arka{
		width: 6%;
	}
	.menu_bar img{
 		width: 6%;
 	}
#icono-img{
 		width: 6%;
 	}
}
@media screen and ( max-width: 450px ){
	#form1{
		width: 80%;
		margin: .8em auto;
	}
	#img-arka{
		width: 7%;
	}
	.menu_bar img{
 		width: 7%;
 	}
#icono-img{
 		width: 7%;
 	}
}
@media screen and ( max-width: 380px ){
	#form1{
		width: 92%;
		margin: .6em auto;
	}
	#img-arka{
		width: 8%;
	}
	.menu_bar img{
 		width: 9%;
 	}
#icono-img{
 		width: 9%;
 	}
}
@media screen and ( max-width: 320px ){
	#form1{
		width: 96%;
		margin: .5em auto;
	}
	#img-arka{
		width: 9%;
	}
	.menu_bar img{
 		width: 10%;
 	}
#icono-img{
 		width: 10%;
 	}
}
@media screen and ( max-width: 300px ){
	.ipt-i1{
	    width: 80%;
	    margin: .4em 10%;
	}
	.menu_bar img{
 		width: 12%;
 	}
#icono-img{
 		width: 12%;
 	}
}