@font-face{
    font-family:font;
    src: url("../font/ligth.ttf");
}
@font-face{
    font-family:font2;
    src: url("../font/bold2.ttf");
}
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: font;
     background: rgba(0, 0, 0, .01);
}
header{
    text-align: center;
}
a{
    text-decoration: none;
}
#logo{
    width: 3%;
    vertical-align: middle;
    display: inline-block;
}
#menu a{
     color: white;
}
#menu{
    color: #f52c12;
    padding: .2em 0;
    background: rgb(56, 56, 56);
}
.menu{
    padding: .5em .3%;
    display: inline-block;
}
#ini {
    color: grey;
    padding: 1em 0;
    border-bottom: 4px solid rgba(128, 128, 128, 0.62);
    width: 24.7%;
    display: inline-block;
    font-size: 1.2em;
	text-align: center;
    background: #f5f5f5;
}
#pedido{
    padding: 60px 0;
    width: 140px;
    background: #c34b4b;
    margin:  2em auto;
    text-align: center;
    font-family: font2;
    font-size: 2em;
     border-left:  10px solid #585858;
    border-bottom:  10px solid #363636;
    border-radius: 50%;
        border-radius: 50%;
    
    transition: all .2s ease;

}
#pedido a{
    color: #d6d6d6;
}
#pedido:hover{
    background: #861515;
    transition: all .2s ease;
}
/* ingresar */
#ii{
    margin-top: 4em;
}
#form,#img-ing{
    vertical-align: middle;
    display: inline-block;
}
#img-ing{
    width: 20%;
    margin-left: 15%;
}
#form{

    color: #454444;
    width: 50%;
    border-radius: .4em;
    margin: 0em 1%;
    padding: .5em 0  3em 0;
}
#form2{

    color: #454444;
    width: 50%;
    border-radius: .4em;
    margin: 2em auto;
    padding: .5em 0  3em 0;
}
#form29{
display: inline-block;
vertical-align: top;
    color: #454444;
    width: 40%;
    border-radius: .4em;
    margin: 1em 1%;

    padding: .5em 0  3em 0;
}
#form299{
display: inline-block;
vertical-align: top;
    color: #454444;

    width: 25%;
    border-radius: .4em;
    margin: 1em 1%;
    padding: .5em 0  3em 0;
}
#form24{
    vertical-align: middle;
    display: inline-block;
    color: #454444;
    width: 30%;
    border-radius: .4em;
    margin: 2em auto;
    padding: .5em 0  3em 0;
}
#formodal{

    color: #454444;
    width: 100%;
    border-radius: .4em;
    margin: 2em auto;
    padding: .5em 0  3em 0;
}
#form3{
    color: #454444;
    width: 40%;
    border-radius: .4em;
    margin: 0 auto;
    padding: .5em 0  3em 0;
}

h3{
    font-size: 1.5em;
    margin-top: .5em;
    text-align: center;
}
#subtitle6{
    font-weight: bold;
    text-align: center;
    padding: .3em 0;
    font-size: 1.5em;
    margin-bottom: 1em;
}
.ipt-i,.btn-i,.btn-ii,time{
    background: none;
    padding: .4em 0;
    width: 60%;
    font-size: 1.2em;
    text-align: center;
    border:none;
    font-family: font;
    margin: .4em 20% 0 20%;
    border: none;
    box-shadow: 2px 3px 20px rgba(128, 128, 128, 0.41);
    transition: all .3s ease;
}
.ipt-ix{
    background: none;
    padding: .4em 0;
    width: 43%;
    display: inline-block;
    font-size: 1.2em;
    text-align: center;
    border:none;
    font-family: font;
    margin: .4em 3% 0 3%;
    border: none;
    box-shadow: 2px 3px 20px rgba(128, 128, 128, 0.41);
    transition: all .3s ease;
}
.ipt-ii{
    background: white;
    padding: .4em 0;
    width: 49%;
    border-radius: .3em;
    font-size: 1.1em;
    text-align: center;
    border:none;
    font-family: font;
    margin: .3em 25% 0 25% ;
    border: 1px solid grey;
    transition: all .3s ease;
}
.btn-i{
    font-family: font;
    background: #e31d04;
    margin-top: 2em;
    border: none;
    color: white;
    border-radius: .2em;
}
.btn-ii{
    font-family: font;
    background: #191919;
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    color: white;
    border-radius: .2em;
}
.btn-iii{ 
    padding: .4em 0;
    width: 100%;
    border:none;
    font-size: 18px;
    transition: all .3s ease;
    font-family: font;
    background: #9a2314;
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
    border-radius: .2em;
 }
.ipt-i:focus{
    background: white;
    color: black;
    transition: all .3s ease;
}
/*Ingresar producto*/

#header{
    background: #aaaaaa;
    text-align: center;
}
.header{
    padding: .2em 1%;
    margin: 0 1%;
    color: white;
    border-left: 2px solid rgb(247, 244, 244);
    font-size: 1.1em;
    display: inline-block;
}
.header a{
    text-decoration: none;
    color: white;
    font-family: font2;
}
/* menu */

#pro{
    text-align: center;
    width: 21%;
    vertical-align: top;
   height: 300px;
    overflow: hidden;
    padding: .3em .5%;
    border-radius: .3em;
    margin: 1em 1%;
    box-shadow: 4px 3px 50px #656565;
    transition:all .3s ease;
    display: inline-block;
}
#pro-tit,#pro-pre{
    vertical-align: top;
    display: inline-block;
}
#pro-tit{
    width: 69%;
    padding: .2em 1%;
    font-size: 1.2em;
    font-weight: bold;
}
#pro-pre{
    background: #e6e6e6;
    padding: .2em .5%;
    width: 25%;
    border-radius: .2em;
}
#img-pre img{
    border-radius: .2em;
}
#pro-des{
    font-size: 17px;
    padding: .4em 1%;
}

/* pedido2 */

.btn{
    text-align: center;
    font-size: 1.2em;
    margin: 1em auto;
    padding: .5em 0;
    width: 25%;
    color: white;
    font-family: font2;
    background: #9a2314;
    border-radius: .2em;
}
#pepes{
    width: 96%;
    margin: 0 auto;
}
#pepe{
    margin: 1em .5%;
    width: 32%;
    background: white;
    padding: 0 0 .8em 0;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.44);
    border-radius: .2em;
    display: inline-block;
    text-align: justify;
    transition: .3s ease;
}
#pepe:hover{
    color: white;
    background: #248bb9;
    transition: .3s ease;
}
#pepe2:hover{
    background: rgba(0,0,0,.1);
    transition: .2s ease;
}
#pepe2{
    text-align: center;
    transition: .2s ease;
}
#pepe3{
    background: rgba(128, 128, 128, 0.13);
    width: 30%;
    margin: 1em 1%;
    border-radius: 1em;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    transition: .2s ease;
}
#img-pe,#in{
    display: inline-block;
    vertical-align: middle;
}
#img-pe{
    padding-left: 3%;
}
#img-pe img{
    height: 170px;
    width: 170px;
    border-radius: 50%;
}
#img-pe{
    width: 50%;
}
#in{
    font-weight: bold;
    width: 40%;
    font-size: 1.1em;
}
#in3{
    width: 100%;
}
#oo3{
    border-bottom: 2px solid white;
    padding: .5em 0;
    font-family: font2;
    font-size: 1.4em;
    color: #7e7e7e;
}
#oo{
    padding: .3em 0;
    text-align: center;
    color: #454444;
}

#ooo{
    padding: .2em 0;
    text-align: center;
    margin-top: .4em;
    color: grey;
    border-bottom: 1px solid darkgrey;
    font-size: 1.2em;
}
#ss,#fu{
    display: inline-block;
    vertical-align: middle;
}
#ss{
    width: 30%;
    margin: 0 0 0 12% ;
    font-weight: bold;
    padding: 0 1%;
    font-size: 1.5em;
}
.ss{
    margin-top: 1em;
}
#fu{
    width: 40%;
}
#img-fi{
    margin: 1em 25%;
    width: 50%;
}

#iin{
    text-align: center;;
    font-size: 1.3em;
    margin-top: .5em;
    font-weight: bold;
}
#mo{
    width: 40%;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.26);
    font-size: 1.3em;
    border-radius: .3em;
    padding: .3em 0;
    color: white;
    background: #17aa72;
    margin: .3em auto;
    display: inline-block;
}
#bb{
    font-size: 20px;
    padding: .7em 0;
    width:40%;
    color:#5a5858;
    border: none;
    box-shadow: 2px 3px 10px;
    background: none;
    border-radius: .2em;
}
#bbb{
    display: inline-block;
    width: 15%;
    margin: 0 auto;
    margin-top: .4em;
    padding: .4em 0;
    border:none;
    border-radius: .3em;
    font-size: 1.2em;
    text-align: center;
    color :white;
    background: #acacac;
}
#bbb:focus{
    outline: 0px;
    background: rgba(0,0,0,.8);
}
.sa{
    text-align: center;
    margin-top: 1em;
    padding: .5em 0;
}
#qw{
background: #d9210a;
    color:white;
}
#wq{
    color :#f52c12;
    border: 1px solid #f52c12;
}
#titt{
    color: white;
    padding: .2em 0 ;
    font-size: 1.2em;
    background: rgba(12, 121, 170, 0.79);
    font-family: font2;
    margin-bottom: .5em;
    border-radius: .1em .1em 0 0;
    text-align: center;
}
#titt3{
    color: #5c5c5c;
    padding: .2em 0 ;
    font-size: .9em;
    background: rgba(195, 195, 195, 0.26);
    font-family: font2;
    text-align: center;
    margin-bottom: .5em;
}
#tittt3{
    font-family: font2;
    margin-top: 1em;
    margin-bottom: .2em;
}
#tittt3,#tittt23{
    width: 32%;
    color:grey;
    border-radius: 2em;
    padding: .2em 0;
    background: white;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}
#tittt,#tittt2{
    width: 30%;
    display: inline-block;
    text-align: center;
}
.num{
    border-radius: 1em;
    padding:  .5em 0;
   width: 100%; 
    text-align: center;
    color: #f52c12;
    border:none;
    background: #dddddd;
}
.num:focus{
    background: white;
}
#countryList{
    width: 30%;
    text-align: center;
    position: fixed;
    background: white;
    margin: 0  5% 0 10%;
    font-size: 20px;
}
.ipt-i:hover{
    outline: 0px;
}
h4{
    margin: 1em 0 ;
    font-weight: normal;
    font-family: font2;
    color: #b12210;
    text-align:center;
}
.tiempo{
    width: 60%;
    display: block;
    margin: 0 20%;
    border: none;
    padding: .3em 0;
    color: #5a5a5a;
    background: rgba(255, 255, 255, 0.64);
    text-align: center;
    border-radius: .5em;
}
.tiempob{
    margin-top: 2em;
    width: 100%;
    font-size: 1.3em;
    background: #d03a03;
    color:white;
    border:none;
    padding: .5em 0;
    font-family: font;
    cursor: pointer;
    transition:  .3s ease;
    border-radius: 0 0 .2em .2em ;
}
.tiempob:hover{
    transition:  .3s ease;

     background: #b43507;
}
.tabla-ind11{
    text-align: right;
    font-family: font2;
    padding: .1em 0;
    font-size: 1.1em;
    display: inline-block;
    width: 13%;
    border-bottom: 1px solid grey;
    margin-left: 2%;
}
.tabla-ind111{
    text-align: center;
    font-family: font2;
    padding: .1em 0;
    font-size: 1.1em;
    display: inline-block;
    width: 13%;
    border-bottom: 1px solid grey;
    margin-left: 2%;
}
.tabla-ind1111{
    color: none;
    text-align: center;
    font-family: font2;
    padding: .1em 0;
    font-size: 1.1em;
    display: inline-block;
    width: 8%;
    border-radius: .3em;
    background: white;
    margin-left: 2%;
}

.btn-punto{
    border-radius: .3em;
    background: rgb(46, 46, 46);
    font-size: 1.3em;
    padding: .4em 1%;
    color: white;
    margin-left: 1%;
    border: none;
}
.btn-punto2{
    border-radius: .3em;
    width: 30%;
    padding: .5em 0;
    margin: 1em 35%;
    background: rgb(46, 46, 46);
    font-size: 1.3em;
    border: none;
}
#nombresito{
    text-align: center;
    font-size: 1.5em;
    color: #4e4e4e;
    font-family: font2;
    margin-top: .4em;
}
#nombresito2{
    padding: .3em 1%;
    background: darkgrey;
    margin-left: 2%;
    font-size: 1.3em;
    color: #4e4e4e;
    font-family: font2;
    margin-top: .4em;
}
.ipt-nom{
    width: 40%;
    color: grey;
    text-align: center;
    font-family: font2;
    border:none;
    display: inline-block;
    font-size: 1.2em;
    padding: .2em 0 ;
    border: 1px solid rgba(128, 128, 128, 0.5);
    margin: 1em  0 1em 30%;
}
#wewe{
    color: darkgrey;
    font-size: 1.2em;
}
.ipt-nom2{
    text-align: center;
    font-family: caviar;
    border:none;
    margin-right: 1%;
    display: inline-block;
    border: 1px solid rgba(128, 128, 128, 0.5);
}
#totales{
    font-size: 1.2em;
    color :white;
    margin-left: 65%;
    margin-top: -2em;
}
.ipt-tot2{
    width: 200px;
    padding: .3em 0 .3em 1%;
    border:none;
    font-size: 1.1em;
    font-family: font2;
    color: grey;
    margin-left: 16.5%;
    border-radius: .3em;
    border: 1px solid #cbcbcb;
    margin-top: .2em;
    display: inline-block;
}
.ipt-tot{
    width: 200px;
    padding: .3em 0 .3em 1%;
    border:none;
    font-size: 1.1em;
    font-family: font2;
    color: grey;
    margin-left: 11%;
    border-radius: .3em;
    border: 1px solid #cbcbcb;
    margin-top: .2em;
    display: inline-block;
}
.ipt-totc{
    width: 200px;
    padding: .3em 0 .3em 1%;
    border:none;
    background: red;
    color: white;
    font-size: 1.3em;
    font-family: font2;
    margin-left: 11%;
    border-radius: .3em;
    border: 1px solid #cbcbcb;
    margin-top: .2em;
    display: inline-block;
}
.btn-tot{
    margin: .2em 0 1em 76%;
    font-size: 1.6em;
     width: 210px;
    padding: .2em 0;
    border: none; color:white ;
    background: #118796;
    border-radius: .3em;
}
.btn-tot2{
    display: inline-block;
    width: 10%;
    margin-top: .5em;
    font-size: 1.5em;
    margin-left: 2%;
    text-align: center;
    padding: .2em 2%;
    border: none; 
    color:white ;
    background: black;
    border-radius: .3em;
}
.btn-tot3{
    display: inline-block;
    width: 21%;
    margin-top: .5em;
    font-size: 1.5em;
    margin-left: 1%;
    text-align: center;
    padding: .2em 2%;
    border: none; 
    color:white ;
    background: grey;
    border-radius: .3em;
}
.btn-tot3 a{
    color: white;
}
#datos{
    text-align: center;
    color: grey;
    font-family: font2;
    font-size: 2em;
    margin-top: 1em;
}
#tabla2,#tabla3{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
#tabla2{
    margin-top: 1em;
    background: rgba(0,0,0,.4);
    padding: 1em 0 ;
}
#tabla3{
    padding: .4em 0;
    background: rgba(0,0,0,.2);
}
.tabla2,.tabla3{
    display: inline-block;
    vertical-align: top;
    width:45%;
}
.jmgmodal {
position: fixed; margin: auto;
top:0;left:0;right:0;bottom:0;
background: rgba(34,34,68,.8);
box-sizing: content-box;
visibility: hidden; opacity: 0;
transition: all .12s; z-index: 99;
}
.jmgmodal.visible {
visibility: visible; opacity: 1;
}
.jmgmodal * {box-sizing: inherit}
.jmgmodal .panel {
position: absolute; margin: auto;
top:0;left:0;right:0;bottom:0;
max-width: 600px; max-height: 70vh;
background: white; border-radius: 10px;
color: #000; padding: 50px 0;
transform: translateY(-25%);
transition: all .12s;
}
.jmgmodal.nofooter .panel {
padding: 50px 0 0 0;
}
.jmgmodal.visible .panel {
transform: none;
}
.jmgmodal .title {
position: absolute; top: 0;
width: 100%; height: 50px;
line-height: 50px;
background: grey;
font-weight: bolder; padding: 0 2em;
box-shadow: 2px 0 10px rgba(0,0,0,.6);
border-radius: 10px 10px 0 0;
box-sizing: border-box;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}
.jmgmodal .panel .close {
position: absolute; top: .25em; right: .75em;
cursor: pointer; font-size: 25px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.jmgmodal .panel .content {
max-height: 100%; overflow: auto;
padding: 1em; box-sizing: border-box;
}
.jmgmodal .panel .content iframe:only-child {
border: 0; width: 100%;
height: 100%; height: 80vh;
min-height: 200px;
}
.jmgmodal .panel .content img:only-child {
width: 100%; max-width: 100%;
}
.jmgmodal .panel .footer {
position: absolute; bottom: 0;
width: 100%; background: orange;
font-weight: bolder; padding: 0 .5em;
box-shadow: 2px 0 10px rgba(0,0,0,.6);
border-radius: 0 0 10px 10px;
box-sizing: border-box;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
text-align: right;
}
.jmgmodal .panel .footer .action {
border-radius: 10px; color: #000;
background: #fff; border: 0;
min-width: 80px; min-height: 35px;
font-weight: bold; cursor: pointer;
margin-left: 20px;
transition: all .12s;
}
.jmgmodal .panel .footer .action:hover {
box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
}
#myDiv
{
margin-top: 10px;
border-style:dashed;
width: 500px;
height: 500px;
background-color:#F0FFF0;
text-align: left;
color:#00008B;
padding:10px 10px;
}
#horarios{
    width: 96%;
    margin:  2em auto;
    background: rgba(169, 169, 169, 0.12);
    padding: .3em 1%;
}
#dias,#sucursales{
    display: inline-block;
    vertical-align: top;
}
#dias{
    padding: 2em 1% .3em 1%;
}
.dias{
    margin-bottom: 2em ;
}
#sucursales{
    width: 90%;   
}
.sucursales{
    color: #4a4949;
    text-align: center;
    font-size: 1.5em;
}
#horarioSucu{
    margin-top: .3em;
}
.horarioSucu{
    display: inline-block;
    width: 49%;
}
#diaSucu{
    padding-bottom: 1.4em
}
.nombreT{
    border: none;
    width: 40%;
    padding: .5em 1%;
}
.extra{
    border:none;
    width:8%;
    padding: 1%;
}
.sueldo{
    border: none;
    padding: 1%;
    width: 7%;
}
.fin{
    background: #ff0058;
    color: white;
    border-radius: 1em;
    padding: .4em 3%;
    border: none;
}
.finn{
    background: #ff0058;
    color: white;
    padding: .4em 3%;
    border: none;
}
.nombres{
    margin-top: 1em;
}
.extra2{
    border:none;
    width:100%;
}









