@font-face{
    font-family:font;
    src: url("../font/ligth.ttf");
}
@font-face{
    font-family:font2;
    src: url("../font/bold2.ttf");
}
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: font;
    background: grey;
}
#foto{
    background: url("../img/9.jpg") no-repeat fixed;
    margin: 0 auto;
    padding-bottom: 15em;
    background-size: cover;
}
a{
    text-decoration: none;
}
header{
    text-align: center;
    border-top: 4px solid #8c0001;
	font-size: 1.2em;
}
#logo{
    width: 4%;
    vertical-align: middle;
    display: inline-block;
}
#menu{
    color: #f52c12;
    padding: .1em 0;
}
.menu{
    display: inline-block;
    margin: 0 1.5%;
    color: white;
    font-family: font2;
    font-size: 16px;
}
/* --- Clase que agregaremos cuando el usuario haga scroll --- */
.menu-fixed {
    position:fixed;
    width: 100%;
    z-index:1000;
    top:0;
    transition: all .4s ease;
    background: rgba(65, 65, 65, 0.38);
}
.menu a{
}
.menu-fixed a{
    color: white;
}
#cont{
   margin-top: -2em;
}
#img-cont{
    width: 10%;
    margin-left: 4%;
    display:inline-block;
    vertical-align: middle;
}
#title,#title3{
    color: white;
    display:inline-block;
    vertical-align: middle;
    width: 80%;
    margin: 0 1%;
}
#title{
    font-family: font2;
    font-size:5em;
    color: #8c0001;
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.35);
}
#title2{
    font-size: 2em;
    width: 31%;
    text-align: center;
    margin-left: 4%;
    color: white;
    background: rgba(39, 39, 39, 0.52);
    border: 3px solid white;
    border-left: 6px solid white;
    padding: .2em 0;
}
#ya{
    color: white;;
    font-size: 1.5em;
    font-family: font2;
    border-radius: 50%;
    text-align: center;
    width: 180px;
    border-left: 5px solid white;
     border-top: 5px solid white;
    height: 180px;
    margin: 1em  0 0 82% ;
    background: #8c0001;
}
#ya:hover{
    background: black;
    transition: all 3s ease;
}
#info{
    background: rgba(255, 255, 255, 0.89);
    border-top:8px solid white;
}
#inf-tit{
    margin: 0 auto;
    color: rgba(141, 34, 35, 0.89);;
    width: 70%;
    padding: .5em 0;
    background: white;
    font-family: font2;
    font-size: 4em;
    margin-bottom: 1em;
    text-align: center;
}
#inf-img{
    display:inline-block;
    width: 30%;
    margin-left: 15%;
    vertical-align: middle;
}
#inf-inf{
    margin-top: 2em;
    vertical-align: middle;
    display:inline-block;
    width: 40%;
    margin-left: 15%;
    color: white;
    font-size: 1.2em;
    text-align: justify;
}
#tel-inf{
    margin-top: 1.2em;
    font-size: .8em;
    padding: 1em 1%;
    font-weight: bold;
    background: rgb(38, 38, 38);
    border-radius: .1em;
    text-align: center;
}
#men{
    width: 80%;
    margin: 0 auto;
    padding: 5em 0;
}
.men img{
    border-radius: .3em;
}
.men{
    text-align: center;
    width: 30%;
    margin: 0 1%;
    color: #8c0001;
    font-size: 1.5em;
    transition: .3s ease;
    display: inline-block;
}
.men:hover{
    opacity: 1;
    width: 31%;
    transition: .3s ease;
}
#ff{
    padding: 2em 0;
    background: url("../img/ff.png");
    background-size: cover;
}
#mapita{
    width: 50%;
    margin-left: 5%;
    box-shadow: 3px 3px 10px black;
    display: inline-block;
}
#inf-fin{
    width: 40%;
   display: inline-block;
    vertical-align: top;
    text-align: center;
    color: #393838;
    margin-left: 3%;
    font-size: 1.5em;
    margin-top: 1.3em;
}
#ya2{
    padding: 50px 0;
    color: white;;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    width: 200px;
    border-radius: .2em;
    background: #8c0001;
    margin: 1em auto;
}

/* menu */

#pro{
    text-align: center;
    width: 16.5%;
    vertical-align: top;
   height: 320px;
    overflow: hidden;
    padding: .3em .5%;
    border-radius: .3em;
    margin: 1em 1%;
    box-shadow: 4px 3px 50px #656565;
    transition:all .3s ease;
    display: inline-block;
}
#pro-tit,#pro-pre{
    vertical-align: top;
    display: inline-block;
}
#pro-tit{
    width: 60%;
    padding: .2em 1%;
    font-size: 1.1em;
    font-weight: bold;
}
#pro-pre{
    background: #e6e6e6;
    padding: .2em .5%;
    width: 25%;
    border-radius: .2em;
}
#img-pre img{
    border-radius: .2em;
}
#pro-des{
    font-size: 17px;
    padding: .4em 1%;
}
#contenedor{
    border-top: 10px solid #585858;
    background: rgb(255, 255, 255);
}
#subtitle{
    font-size: 4em;
    font-family: font2;
    padding: .1em 0 0 0;
    color: #ffffff;
    width: 50%;
    border-radius: 0 0 .3em .3em;
    background: #505050;
    margin: 0 auto;
    text-align: center;
}
#subtitle2{
    padding: .5em 0;
    font-size: 1.3em;
    font-family: font2;
    margin-bottom: 5em;
    color: rgba(140, 0, 1, 0.54);
    text-align: center;
}
#subtitle3{
    font-size: 2em;
    padding: .5em 0 .5em 0;
    color: #bababa;
    width: 50%;
    border-radius: 1em;
    margin: 1em auto 1em auto;
    text-align: center;
}

/* ingresar */
#form,#img-ing{
    margin: 0 auto;
}
#img-ing{
    width: 20%;
}
#form{
    color: #454444;
    width: 50%;
    border-radius: .4em;
    padding: .5em 0  3em 0;
}
#subtitle6{
    font-weight: bold;
    text-align: center;
    padding: .3em 0;
    font-size: 3em;
    margin-bottom: .2em;
}
.ipt-i,.btn-i{
    background: white;;
    padding: .6em 0;
    width: 60%;
    border-radius: .2em;
    font-size: 1.2em;
    text-align: center;
    border:none;
    color: white;
    font-family: font;
    margin: .4em 20% 0 20%;
    border: none;
    box-shadow: 2px 3px 10px grey;
    transition: all .3s ease;
}
.btn-i{
    font-family: font;
    background: #191919;
    margin-top: 1em;
    border: none;
    border-radius: .2em;
}
.ipt-i:focus{
    background: white;
    color: black;
    transition: all .3s ease;
}
#f{
    width: 15%;
    padding: .2em 0;
    text-align: center;
    font-size: 7em;
    box-shadow: 2px 3px 100px black;
    color: #3b5998;
    margin: 2em auto;
    font-weight: bold;
    border-radius: .3em;
}
#red{
    font-size: 3em;
    margin-top: 3em;
    padding-bottom: 2em;
    color: #242424;
    text-align: center;
}
#contacto{
    padding: 1em 1%;
    color: #3c3b3b;
    font-weight: bold;
    font-family: helvetica;
    background: #1a1a1a;
}
#kkk{
    font-size: 1.2em;
    margin-bottom: 1em;
}
#kk{
    margin-top: .1em;
}
#pepinillo{
    width: 94%;
    margin: 0 auto;
}
#pepe{
    margin: .8em .2%;
    width: 30%;
    padding: .3em .5%;
    background: #f4f4f4;
    border-radius: 1em;
    display: inline-block;
    text-align: justify;
    border-left: 4px solid rgba(140, 0, 1, 0.7);
    transition: .3s ease;
}
#pepe:hover{
    color: white;
    background: rgba(123, 127, 129, 0.62);
    transition: .2s ease;
}
#pepe2:hover{
    background: rgba(0,0,0,.1);
    transition: .2s ease;
}
#pepe2{
    text-align: center;
    transition: .2s ease;
}
#img-pe,#in{
    display: inline-block;
    vertical-align: middle;
}
#img-pe img{
    height: 170px;
    width: 170px;
    border-radius: 50%;
}
#img-pe{
    width: 50%;
}
#in{
    font-weight: bold;
    width: 45%;
    text-align: center;
    font-size: 1.5em;
}
#oo{
    padding: .3em 0;
    background: rgb(255, 255, 255);
    border-radius: 1em;
    margin-top: .5em;
    text-align: center;
    color: #8b8b8b;
    font-size: .8em;
}
@media screen and ( max-width: 1314px ){
    #ya{
        width: 13%;
        height: 115px;
        padding-top: 2em;
    }
 }
@media screen and ( max-width: 1254px ){
    #ya{
        padding-top: 1.8em;
    }
 }
@media screen and ( max-width: 1215px ){
    #ya{
        padding-top: 1.5em;
    }
 }
@media screen and ( max-width: 1161px ){
    #ya{
       font-size: 1.4em;
    }
 }
@media screen and ( max-width: 1120px ){
    #ya{
       background: black;
    }
 }
 @media screen and ( max-width: 960px ){
   #title{
    font-size: 8em;
    color: #8c0001;
    text-shadow: 2px 3px 10px black;
    }
    #title2{
        font-size: 2.5em;
        width: 25%;
    }
    #title3{
        font-size: 2.5em;
        width: 15%;
    }
 }

@media screen and ( max-width: 900px ){
    #ya{
       height: 90px;
       padding-top: 1em;
    }
 }
 @media screen and ( max-width: 800px ){
    #title{
        margin-top: .5em;
    font-size: 5em;
    color: #8c0001;
    text-shadow: 2px 3px 10px black;
    }
    #ya{
       height: 80px;
    }
 }
 @media screen and ( max-width: 700px ){
    #ya{
        font-size: 1em;
        padding-top: .8em;
       height: 60px;
    }
     #title{
        margin-top: 1em;
   
    }
     #title2{
        font-size: 2em;
        width: 25%;
    }
    #title3{
        font-size: 2em;
        width: 15%;
    }
 }
@media screen and ( max-width: 620px ){
    #ya{
        display: none;
    }
    #title{
        margin-top: 2em;
        font-size: 5.5em;
    }
    #title,#title2,#title3{
      text-align: center;
      width: 100%;
      text-shadow: 1px 1px 1px black;
    }
 }
@media screen and ( max-width: 493px ){
    #logo{
        display: none;
    }
 }













    
    
