
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style2.css">

	 <div id="formodal">
    	<h3>
    		Agregar Cliente
    	</h3>
    	<form method="POST" enctype="multipart/form-data" action="controler/insCli.php">
    		<input type="text" name="nom" class="ipt-i" placeholder="Nombre" autocomplete="off" required>
    		<input type="phone" name="pre" class="ipt-i" placeholder="Telefono" autocomplete="off" required>
    		<input type="text" name="tie" class="ipt-i" placeholder="Direccion" autocomplete="off" required>
    		
    		<input type="submit" class="btn-i">
    	</form>
    </div>
    <style>
		textarea{
			font-family: font;
		}
    </style>
