<style>
	#todoReporte{
		background: white;
		padding: 1em 2%;
	}
</style>
 <link rel="stylesheet" type="text/css" href="css/neri.css">
 <link rel="stylesheet" href="css/index.css">
	<script  src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/index1.js"></script>
 <header>
		<div id="img-menu">
			<img src="img/w.png"  width="100%" alt="">
		</div>
	</header>
	<div id="menu">
		<div id="perfil">
			<div id="img-perfil">
					<img src="img/perfil2.png" width="100%" alt="">
			</div>
			<div id="inf-perfil">
				Admin
			</div>
		</div>
		<div id="menus">
			
			<div class="menus" id="s">
				<div id="img-menus">
					<img src="img/sucu.png" width="100%" alt="">
				</div>
				Sucursales
			</div>
			<div class="menus" id="p">
				<div id="img-menus">
					<img src="img/pro.png" width="100%" alt="">
				</div>
				Productos
			</div>
			<div class="menus" id="l">
				<div id="img-menus">
					<img src="img/clientes.png" width="100%" alt="">
				</div>
				Clientes
			</div>
			<div class="menus" id="c">
				<div id="img-menus">
					<img src="img/tra.png" width="100%" alt="">
				</div>
				Trabajadores
			</div>
			<div class="menus" id="e">
				<div id="img-menus">
					<img src="img/di.png" width="100%" alt="">
				</div>
				Efectivo
			</div>
			<div class="menus" id="d">
				<div id="img-menus">
					<img src="img/excel.png" width="100%" alt="">
				</div>
				Pedido
			</div>
			<div class="menus" id="r">
				<div id="img-menus">
					<img src="img/reportes.png" width="100%" alt="">
				</div>
				Reportes
			</div>
			<div class="menus" id="o">
				<div id="img-menus">
					<img src="img/confi.png" width="100%" alt="">
				</div>
				Configuracion
			</div>
			<a href="controler/salir.php">
			<div class="menus">
				<div id="img-menus">
					<img src="img/salir.png" width="100%" alt="">
				</div>
				Salir
			</div>
			</a>
		</div>
	</div>
	<div id="menus2">
		<div id="perfil" class="submenu">
			<div id="img-perfil">
				<img src="img/re.png" width="100%" alt="">
			</div>
		</div>
		<a href="listarTrab.php"><div class="menus2">Listar</div></a>
		<a href="IngTrab.php"><div class="menus2">Agregar</div></a>
		<a href="recordatorio.php"><div class="menus2">Crear mensaje</div></a>
		<a href="listarRec.php"><div class="menus2">Ver mensaje</div></a>
		<a href="horariosA.php"><div class="menus2">Sueldo</div></a>
		<a href="horariosAS.php"><div class="menus2">Horario</div></a>
	</div>
	<div id="menus3">
		<div id="perfil" class="submenu">
			<div id="img-perfil">
				<img src="img/re.png" width="100%" alt="">
			</div>
		</div>
		<a href="sucursales.php"><div class="menus2">Listar</div></a>
		<a href="listarSuc.php"><div class="menus2">Agregar</div></a>
	</div>
	<div id="menus4">
		<div id="perfil" class="submenu">
			<div id="img-perfil">
				<img src="img/re.png" width="100%" alt="">
			</div>
		</div>
		<a href="IngPro.php"><div class="menus2">Nuevo</div></a>
		<a href="listarProSuc.php"><div class="menus2">Inventario</div></a>
		<a href="listarCat.php"><div class="menus2">Catalogo</div></a>
		<a href="IngMer.php"><div class="menus2">Agregar</div></a>
		<a href="masterPortal.php"><div class="menus2">Cargar</div></a>
	</div>
	<div id="menus5">
		<div id="perfil" class="submenu">
			<div id="img-perfil">
				<img src="img/re.png" width="100%" alt="">
			</div>
		</div>
		<a href="clientes.php"><div class="menus2">Listar</div></a>
		<a href="cortehistorial.php"><div class="menus2">Garantias</div></a>
		<a href="consultarAA.php"><div class="menus2">Apartados</div></a>
		<a href="oferta.php"><div class="menus2">Nueva oferta</div></a>
		<a href="listarOferta.php"><div class="menus2">Ver oferta</div></a>
	</div>
	<div id="menus6">
		<div id="perfil" class="submenu">
			<div id="img-perfil">
				<img src="img/re.png" width="100%" alt="">
			</div>
		</div>
		<a href="efectivo.php"><div class="menus2">Caja</div></a>
		<a href="pagoSemA.php"><div class="menus2">Pagos</div></a>
		<a href="montos.php"><div class="menus2">Monto</div></a>
	</div>
	<div id="menus7">
		<div id="perfil" class="submenu">
			<div id="img-perfil">
				<img src="img/re.png" width="100%" alt="">
			</div>
		</div>
		<a href="listarCat2.php"><div class="menus2">Excel</div></a>
	</div>
	<div id="menus8">
		<div id="perfil" class="submenu">
			<div id="img-perfil">
				<img src="img/re.png" width="100%" alt="">
			</div>
		</div>
		<a href="hist3.php"><div class="menus2">General</div></a>
		<a href="hist.php"><div class="menus2">Ventas PDF</div></a>
		<a href="hist4.php"><div class="menus2">Ventas WEB</div></a>
		<a href="hist2.php"><div class="menus2">Comisiones</div></a>
		<div class="menus2">Graficas</div>	
	</div>
	<div id="menus9">
		<div id="perfil" class="submenu">
			<div id="img-perfil">
				<img src="img/re.png" width="100%" alt="">
			</div>
		</div>
		<div class="menus2"><a href="contraA.php">Contraseña</a></div>
	</div>
  <div id="w100lb">
    			<h3>
    				Reporte de Retcel 2018-11-19 al dia 2018-11-19
    			</h3>
    		</div>
    		<div id='todoReporte'>
                <div id="entradas">
                    <div id="title2">
                        Entradas
                    </div>
                    <div id="fila" class="filaA" >
                        1 CHIP TELCEL LADA FUERA2$5819-11-2018 13:27:17kevPLAZA
                    </div> 
                    <div id="fila" class="filaA" >
                        2 TANK XTREME 2.4 BLU2$129819-11-2018 13:27:25kevPLAZA
                    </div> 
                    <div id="fila" class="filaA" >
                        3 OWX R551$31919-11-2018 13:27:36kevPLAZA</br>
                        -- AUDIFONOS DIADEMA A23192$14019-11-2018 13:27:36kevPLAZA
                    </div> 
                </div>
                
                MONTOS TOTAL DE BANOS ES DE : $0CMONTO DE CORTE DE  kev$350019-11-2018 13:28:03PLAZATOTAL DE MONTOS DE CORTES ES DE : $3500TOTAL DE MONTOS DE GASTOS ES DE : $0TOTAL DE MONTOS DE ADELANTOS ES DE : $0Creditos#ClienteTelefonoVentaCreditoCredito TotalAbonos#ClienteAbonoHora</div>
